@charset "UTF-8";

	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
	h3{
		margin-top: 20px;
		text-align:center;
	}
     login_form{
     width:500px;}
	
	.login_box input{
		width: 150px;
		height: 25px;
		outline: none;
	}	
	.btn {
	    width:300px;
		margin: 10px auto;
		text-align:center;
	}
	button, #notice_btn{
		cursor: pointer;
		width: 120px;
	}
	
	 	.red_msg {
 		color : red;
 		font-size : 12px;
 	}
 	#login_success_box{
 	   width: 300px;
 	   margin: 0 auto;
 	}
 	#qna_btn, #move_btn {
        display: inline-block;
 		width: 120px;
 	}
 